@model tofi2018.Models.DirectoryModel

@{
    ViewBag.Title = "Download All";
}

<h2>Download All</h2>

@foreach (var folder in Model.Folders)
{
    var folderName = new DirectoryInfo(folder.Key).Name;

    <h3>@folderName</h3>

    foreach (var file in folder.Value)
    {
    <div>
        @Path.GetFileName(file)

        &nbsp;

        @Html.ActionLink("Download File", "DownloadFile", new { fileName = file })
    </div>
    }
}