
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Result", "Credit", FormMethod.Post))
{
    <fieldset>
        <legend>Credit Application</legend>
        <div>
            <label for="Sum">Sum:</label>
            <input type="number" name="Sum" value="" />
        </div>
        <div>
            <label for="Months">Months:</label>
            <input type="number" name="Months" value="" />
        </div>
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Calculate" />
        </div>
    </fieldset>
}