
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Result", "Credit", FormMethod.Post))
{
    <fieldset>
        <legend>Credit Application</legend>
        <div>
            <label for="FirstName">First Name:</label>
            <input type="text" name="FirstName" value="" />
        </div>
        <div>
            <label for="LastName">Last Name:</label>
            <input type="text" name="SecondName" value="" />
        </div>
        <div>
            <label for="Sum">Sum, &#36;:</label>
            <input type="number" name="Sum" value="" />
        </div>
        <div>
            <label for="Months">Months:</label>
            <input type="number" name="Months" value="" />
        </div>
        <div>
            <label for="AnnualRate">Annual Rate, &#37;:</label>
            <input type="number" name="AnnualRate" value="8" readonly />
        </div>
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Calculate" />
        </div>
    </fieldset>
}