@model tofi2018.Models.Credit

@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>

<div>Months:</div>
<div>@Html.DisplayFor(model => model.Months)</div>

<div>Sum:</div>
<div>@Html.DisplayFor(model => model.Sum)</div>

<div>Payment:</div>
<div>@Html.DisplayFor(model => model.Payment)</div>